themes {
  everforest-dark {
    bg "#475258"      // bg3
    fg "#d3c6aa"      // fg
    red "#e67e80"     // red
    green "#a7c080"   // green
    blue "#7fbbb3"    // blue
    yellow "#dbbc7f"  // yellow
    magenta "#d699b6" // purple
    orange "#e69875"  // orange
    cyan "#83c092"    // aqua
    black "#2d353b"   // bg0
    white "#d3c6aa"   // fg
  }

  everforest-light {
    bg "#e6e2cc"      // bg3
    fg "#5c6a72"      // fg
    red "#f85552"     // red
    green "#8da101"   // green
    blue "#3a94c5"    // blue
    yellow "#dfa000"  // yellow
    magenta "#df69ba" // purple
    orange "#f57d26"  // orange
    cyan "#35a77c"    // aqua
    black "#fdf6e3"   // bg0
    white "#5c6a72"   // fg
  }
}
