themes {
    rose-pine {
        text_unselected {
            base "#e0def4"
            background "#1f1d2e"
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        text_selected {
            base "#e0def4"
            background "#403d52"
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        ribbon_selected {
            base "#191724"
            background "#c4a7e7"
            emphasis_0 "#f6c177"
            emphasis_1 "#eb6f92"
            emphasis_2 "#c4a7e7"
            emphasis_3 "#9ccfd8"
        }
        ribbon_unselected {
            base "#6e6a86"
            background "#26233a"
            emphasis_0 "#f6c177"
            emphasis_1 "#eb6f92"
            emphasis_2 "#c4a7e7"
            emphasis_3 "#9ccfd8"
        }
        table_title {
            base "#f6c177"
            background 0 0 0
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        table_cell_selected {
            base "#e0def4"
            background "#403d52"
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        table_cell_unselected {
            base "#e0def4"
            background "#1f1d2e"
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        list_selected {
            base "#e0def4"
            background "#403d52"
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        list_unselected {
            base "#e0def4"
            background "#1f1d2e"
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        frame_selected {
            base "#c4a7e7"
            background 0 0 0
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#c4a7e7"
            emphasis_3 0 0 0
        }
        frame_highlight {
            base "#eb6f92"
            background 0 0 0
            emphasis_0 "#eb6f92"
            emphasis_1 "#eb6f92"
            emphasis_2 "#eb6f92"
            emphasis_3 "#eb6f92"
        }
        exit_code_success {
            base "#9ccfd8"
            background 0 0 0
            emphasis_0 "#31748f"
            emphasis_1 "#1f1d2e"
            emphasis_2 "#c4a7e7"
            emphasis_3 "#9ccfd8"
        }
        exit_code_error {
            base "#eb6f92"
            background 0 0 0
            emphasis_0 "#f6c177"
            emphasis_1 0 0 0
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        multiplayer_user_colors {
            player_1 "#c4a7e7"
            player_2 "#9ccfd8"
            player_3 "#eb6f92"
            player_4 "#f6c177"
            player_5 "#31748f"
            player_6 "#ebbcba"
            player_7 "#908caa"
            player_8 "#6e6a86"
            player_9 0 0 0
            player_10 0 0 0
        }
    }

    rose-pine-moon {
        text_unselected {
            base "#e0def4"
            background "#2a273f"
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        text_selected {
            base "#e0def4"
            background "#44415a"
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        ribbon_selected {
            base "#232136"
            background "#c4a7e7"
            emphasis_0 "#f6c177"
            emphasis_1 "#eb6f92"
            emphasis_2 "#c4a7e7"
            emphasis_3 "#9ccfd8"
        }
        ribbon_unselected {
            base "#6e6a86"
            background "#393552"
            emphasis_0 "#f6c177"
            emphasis_1 "#eb6f92"
            emphasis_2 "#c4a7e7"
            emphasis_3 "#9ccfd8"
        }
        table_title {
            base "#f6c177"
            background 0 0 0
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        table_cell_selected {
            base "#e0def4"
            background "#44415a"
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        table_cell_unselected {
            base "#e0def4"
            background "#2a273f"
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        list_selected {
            base "#e0def4"
            background "#44415a"
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        list_unselected {
            base "#e0def4"
            background "#2a273f"
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#f6c177"
            emphasis_3 "#c4a7e7"
        }
        frame_selected {
            base "#c4a7e7"
            background 0 0 0
            emphasis_0 "#eb6f92"
            emphasis_1 "#9ccfd8"
            emphasis_2 "#c4a7e7"
            emphasis_3 0 0 0
        }
        frame_highlight {
            base "#eb6f92"
            background 0 0 0
            emphasis_0 "#eb6f92"
            emphasis_1 "#eb6f92"
            emphasis_2 "#eb6f92"
            emphasis_3 "#eb6f92"
        }
        exit_code_success {
            base "#9ccfd8"
            background 0 0 0
            emphasis_0 "#3e8fb0"
            emphasis_1 "#2a273f"
            emphasis_2 "#c4a7e7"
            emphasis_3 "#9ccfd8"
        }
        exit_code_error {
            base "#eb6f92"
            background 0 0 0
            emphasis_0 "#f6c177"
            emphasis_1 0 0 0
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        multiplayer_user_colors {
            player_1 "#c4a7e7"
            player_2 "#9ccfd8"
            player_3 "#eb6f92"
            player_4 "#f6c177"
            player_5 "#3e8fb0"
            player_6 "#ea9a97"
            player_7 "#908caa"
            player_8 "#6e6a86"
            player_9 0 0 0
            player_10 0 0 0
        }
    }

    rose-pine-dawn {
        text_unselected {
            base "#464261"
            background "#fffaf3"
            emphasis_0 "#b4637a"
            emphasis_1 "#56949f"
            emphasis_2 "#ea9d34"
            emphasis_3 "#907aa9"
        }
        text_selected {
            base "#464261"
            background "#dfdad9"
            emphasis_0 "#b4637a"
            emphasis_1 "#56949f"
            emphasis_2 "#ea9d34"
            emphasis_3 "#907aa9"
        }
        ribbon_selected {
            base "#faf4ed"
            background "#907aa9"
            emphasis_0 "#ea9d34"
            emphasis_1 "#b4637a"
            emphasis_2 "#907aa9"
            emphasis_3 "#56949f"
        }
        ribbon_unselected {
            base "#9893a5"
            background "#f2e9e1"
            emphasis_0 "#ea9d34"
            emphasis_1 "#b4637a"
            emphasis_2 "#907aa9"
            emphasis_3 "#56949f"
        }
        table_title {
            base "#ea9d34"
            background 0 0 0
            emphasis_0 "#b4637a"
            emphasis_1 "#56949f"
            emphasis_2 "#ea9d34"
            emphasis_3 "#907aa9"
        }
        table_cell_selected {
            base "#464261"
            background "#dfdad9"
            emphasis_0 "#b4637a"
            emphasis_1 "#56949f"
            emphasis_2 "#ea9d34"
            emphasis_3 "#907aa9"
        }
        table_cell_unselected {
            base "#464261"
            background "#fffaf3"
            emphasis_0 "#b4637a"
            emphasis_1 "#56949f"
            emphasis_2 "#ea9d34"
            emphasis_3 "#907aa9"
        }
        list_selected {
            base "#464261"
            background "#dfdad9"
            emphasis_0 "#b4637a"
            emphasis_1 "#56949f"
            emphasis_2 "#ea9d34"
            emphasis_3 "#907aa9"
        }
        list_unselected {
            base "#464261"
            background "#fffaf3"
            emphasis_0 "#b4637a"
            emphasis_1 "#56949f"
            emphasis_2 "#ea9d34"
            emphasis_3 "#907aa9"
        }
        frame_selected {
            base "#907aa9"
            background 0 0 0
            emphasis_0 "#b4637a"
            emphasis_1 "#56949f"
            emphasis_2 "#907aa9"
            emphasis_3 0 0 0
        }
        frame_highlight {
            base "#b4637a"
            background 0 0 0
            emphasis_0 "#b4637a"
            emphasis_1 "#b4637a"
            emphasis_2 "#b4637a"
            emphasis_3 "#b4637a"
        }
        exit_code_success {
            base "#56949f"
            background 0 0 0
            emphasis_0 "#286983"
            emphasis_1 "#fffaf3"
            emphasis_2 "#907aa9"
            emphasis_3 "#56949f"
        }
        exit_code_error {
            base "#b4637a"
            background 0 0 0
            emphasis_0 "#ea9d34"
            emphasis_1 0 0 0
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        multiplayer_user_colors {
            player_1 "#907aa9"
            player_2 "#56949f"
            player_3 "#b4637a"
            player_4 "#ea9d34"
            player_5 "#286983"
            player_6 "#d7827e"
            player_7 "#797593"
            player_8 "#9893a5"
            player_9 "#cecacd"
            player_10 "#dfdad9"
        }
    }
}
